.main {
    width: 872px;
    height: auto;
    border-radius: 10px;
    padding: 0 0 5px 0;
    border: 1px solid #00000033;
}

.main .head {
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px;
    background-color: #F3F3F3;
}

.main .head p {
    font-weight: 600;
}

.main .list {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px 5px 15px;
}

@media (max-width : 390px) {
    .main {
        width: 360px;
        margin-right: 10px;
    }

    .main div {}

    .main .head {
        padding: 10px;
    }

    .main .head p {
        font-weight: 200;
    }

    .main p {
        font-size: 5px;
    }

    .head p:nth-child(3) {
        display: none;
    }

    .list p:nth-child(3) {
        display: none;
    }
}

@media (min-width : 391px) and (max-width:480px) {
    .main {
        width: 360px;
        margin-right: 10px;
    }

    .main div {}

    .main .head {
        padding: 10px;
    }

    .main .head p {
        font-weight: 200;
    }

    .main p {
        font-size: 1rem;
    }

    .head p:nth-child(3) {
        display: none;
    }

    .list p:nth-child(3) {
        display: none;
    }
}