* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 200;
}

body {
  margin: auto;
  align-items: center;
}

html,
body {
  overflow-x: hidden;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button,
input,
textarea,
select,
option {
  font-family: inherit;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}