.container {
    width: 561px;
    height: 362px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.container h4 {
    font-weight: 600;
    font-size: 23px;
}

.container label {
    text-align: center;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form div {
    justify-content: center;
    align-items: center;
}

.container form input {
    width: 491px;
    height: 54px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #00000040;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
}

.container .button {
    width: 491px;
    height: 54px;
    font-size: 18px;
    color: #fff;
    background-color: #28A745;
    border-radius: 6px;
    border: none;
    justify-content: center;
}

.timer {
    text-align: center;
    display: flex;
    gap: 15px;
}
