.container {
    width: 561px;
    height: 362px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.container h4 {
    font-weight: 600;
    font-size: 23px;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container form input {
    width: 491px;
    height: 54px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #00000040;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
}

.container .button {
    width: 491px;
    height: 54px;
    font-size: 18px;
    color: #fff;
    background-color: #28A745;
    border-radius: 6px;
    border: none;
    justify-content: center;
}


@media(max-width : 390px) {
    .container {
        width: 358px;
    }

    .container form {
        width: 358px;
        align-items: center;
    }

    .container form input {
        width: 278px;
    }


    .container .button {
        width: 278px;
    }
}

@media (min-width : 391px) and (max-width:480px) {
    .container {
        width: 358px;
    }
    
    .container form {
        width: 358px;
        align-items: center;
    }
    
    .container form input {
        width: 278px;
    }
    
    
    .container .button {
        width: 278px;
    }
}