.footer {
    display: flex;
    width: 1188px;
    margin: auto;
    padding: 15px 0;
}

.about {
    display: flex;
    flex-direction: column;
    line-height: 35px;
    width: 20%;
}


.container {
    width: 1188px;
    margin: auto;
}

.customer {
    display: flex;
    flex-direction: column;
    line-height: 35px;
    width: 20%;
}


.certificate {
    width: 60%;
    margin-bottom: 20px;
}

.copy {
    padding: 8px 0;
    border-top: 2px solid #00000033;
    text-align: center;
}

.certificate_icon {
    display: flex;
    justify-content: left;
    margin-top: 30px;
    gap: 35px;
}

.certificate_icon img {
    width: 71px;
    height: 74px;
}

.contact {
    text-align: left;
}

.contact img {
    width: 146px;
    height: 44px;
}

.hr {
    border: 1px solid #00000033;
}

@media (max-width : 390px) {
    .hr {
        border: 1px dashed #00000033;
    }

    .footer {
        width: 390px;
        flex-wrap: wrap;
        padding: 15px 15px;
    }

    .about {
        width: 180px;
    }

    .customer {
        width: 180px;
    }

    .certificate {
        width: 390px;
        display: flex;
        padding: 0 0 0 15px;
        text-align: center;
        flex-wrap: wrap;
    }
    
    .contact {
        width: 50%;
        padding: 39px 0 0 0;
    }
    
    .certificate_icon {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        gap: 15px;
    }

    .contact img {
        width: 100px;
        height: 30px;
    }

    .certificate_icon img {
        width: 35px;
        height: 38px;
    }
}

@media (min-width : 391px) and (max-width:480px) {
    .hr {
        border: 1px dashed #00000033;
    }

    .footer {
        width: 390px;
        flex-wrap: wrap;
        padding: 15px 15px;
    }

    .about {
        width: 180px;
    }

    .customer {
        width: 180px;
    }

    .certificate {
        width: 390px;
        display: flex;
        padding: 0 0 0 15px;
        text-align: center;
        flex-wrap: wrap;
    }
    
    .contact {
        width: 50%;
        padding: 39px 0 0 0;
    }
    
    .certificate_icon {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        gap: 15px;
    }

    .contact img {
        width: 100px;
        height: 30px;
    }

    .certificate_icon img {
        width: 35px;
        height: 38px;
    }
}