.container {
    width: 1188px;
    margin: auto;
}

.main {
    display: flex;
    gap: 30px;
    padding: 40px 0;
}

.aside {
    width: 284px;
    height: 170px;
    top: 110px;
    left: 1030px;
    border-radius: 10px;
    border: 1px solid #00000033;
}

.form {
    width: 872px;
    height: 715px;
    border-radius: 10px;
    border: 1px solid #00000033;
}