.container {
    width: 1188px;
    margin: auto;
}

.main {
    display: flex;
    gap: 30px;
    padding: 40px 0;
}

.aside {
    width: 284px;
    height: 180px;
    top: 110px;
    left: 1030px;
    border-radius: 10px;
    border: 1px solid #00000033;
}

.aside img {
    width: 20px;
    height: 20px;
}

.aside ul {
    border-bottom: 1px solid #00000033;
    border-radius: 10px;
}

.aside ul li {
    display: flex;
    padding: 10px;
    gap: 10px;
    height: 59px;
    align-items: center;
}

.active {
    background-color: #28A74540;
    color: #28A745;
    border-radius: 10px;
}

.form {
    width: 872px;
    height: auto;
    border-radius: 10px;
}

@media (max-width : 390px) {
    .container {
        width: 390px;
        margin: auto;
    }

    .main {
        flex-direction: column;
        width: 390px;
    }

    .aside {
        border: none;
        height: auto;
        padding: 0 15px;
    }

    .aside ul {
        display: flex;
        width: 340px;
        gap: 10px;
        border-radius: 0;
    }

    .active {
        background-color: #fff;
        color: #28A745;
        border-radius: 0;
        border-bottom: 3px solid #28A745;
    }
}