.infopersonal {
    width: 872px;
    height: 179px;
    border-radius: 10px;
    border: 1px solid #00000033;
}

.prsonal {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px 0 15px;
}

.infoname {
    display: flex;
    padding: 10px 15px 10px 0;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
    line-height: 50px;
}

.infoname input {
    width: 255px;
    height: 45px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #00000080;
    outline: none;
}

.button {
    display: flex;
    justify-content: left;
    gap: 15px;
    padding: 10px 10px 10px 20px;
    border-top: 1px solid #00000033;
}

.button button {
    width: 144px;
    height: 41px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #28A745;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: all ease-in-out .3s;
}


.button button:last-child {
    background-color: #fff;
    color: #28A745;
    border: 2px solid #28A745;
}

.button button:hover:first-child {
    background-color: #fff;
    color: #28A745;
    border: 2px solid #28A745;
}

.button button:hover:last-child {
    background-color: rgb(194, 54, 22);
    color: #fff;
    border: 2px solid rgb(194, 54, 22);
}