.banner {
    position: relative;
}

.background {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.background img {
    width: 100%;
    height: 100%;
}

.airplan {
    position: absolute;
    left: 0;
    top: 10px;
    background: transparent;
    width: auto;
    height: auto;
    transform: translate(30%, 35%);
    transition: transform 10s;
}

.banner:hover .airplan {
    -webkit-animation: flyAway 12s forwards;
    -moz-animation: flyAway 12s forwards;
    -o-animation: flyAway 12s forwards;
    animation: flyAway 12s forwards;
}


@keyframes flyAway {
    to {
        transform: translate(800%, -120%);
    }
}


@media (max-width : 480px) {
    .background {
        width: 480px;
        height: 119px;
    }

    .background img {
        width: 480px;
        height: 100%;
    }

    .airplan {
        width: 90px;
        left: -10px;
        top: 5px;
    }
}