.banner {
    position: relative;
}

.background {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.background img {
    width: 100%;
    height: 100%;
}

.airplan {
    position: absolute;
    left: 0;
    top: 10px;
    background: transparent;
    width: auto;
    height: auto;
    transform: translate(0%, 0%);
    -webkit-animation: flyAround 20s infinite linear;
    -moz-animation: flyAround 20s infinite linear;
    -o-animation: flyAround 20s infinite linear;
    animation: flyAround 20s infinite linear;
}

@-webkit-keyframes flyAround {
    0% {
        transform: translate(0%, 0%);
        opacity: 1;
    }

    98% {
        transform: translate(100vw, -50%);
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: translate(0vw, -50%);
    }

    0.01% {
        opacity: 1;
    }
}

@-moz-keyframes flyAround {
    0% {
        transform: translate(0%, 0%);
        opacity: 1;
    }

    98% {
        transform: translate(100vw, -50%);
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: translate(0vw, -50%);
    }

    0.01% {
        opacity: 1;
    }
}

@-o-keyframes flyAround {
    0% {
        transform: translate(0%, 0%);
        opacity: 1;
    }

    98% {
        transform: translate(100vw, -50%);
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: translate(0vw, -50%);
    }

    0.01% {
        opacity: 1;
    }
}

@keyframes flyAround {
    0% {
        transform: translate(0%, 0%);
        opacity: 1;
    }

    98% {
        transform: translate(100vw, -50%);
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: translate(0vw, -50%);
    }

    0.01% {
        opacity: 1;
    }
}




@media (max-width : 480px) {
    .background {
        width: 480px;
        height: 119px;
    }

    .background img {
        width: 480px;
        height: 100%;
    }

    .airplan {
        width: 90px;
        left: -10px;
        top: 5px;
    }
}