  .container p {
    margin-bottom: 5px;
  }
  
  .container input {
    width:110px;
    border: none;
    color: #28A745;
    padding: 10px;
    font-size: 1rem;
    height: 30px;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
  }
  