.infoaccount {
    width: 872px;
    height: 115px;
    border-radius: 10px;
    border: 1px solid #00000033;
}


.infoaccount div:first-child {
    padding: 5px;
}


.account input {
    width: 255px;
    height: 45px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #00000080;
}

.account button {
    width: 122px;
    height: 45px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #28A745;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: all ease-in-out .3s;
}

.account button:hover {
    background-color: #fff;
    color: #28A745;
    border: 2px solid #28A745;
}

.main img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.main span {
    color: #009ECA;
}

.account {
    display: flex;
    align-items: center;
    padding: 20px 20px 0 45px;
    justify-content: space-between;
}