.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infoaccount {
    width: 872px;
    height: 115px;
    border-radius: 10px;
    border: 1px solid #00000033;
}


.infoaccount div:first-child {
    padding: 5px;
}

.account {
    display: flex;
}

.account div {
    width: 100%;
    display: flex;
    gap: 80px;
}

.account input {
    width: 255px;
    height: 45px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #00000080;
}

.account button {
    width: 122px;
    height: 45px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #28A745;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

.main img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.main span {
    color: #009ECA;
}

.account {
    display: flex;
    padding: 20px 20px 0 45px;
    justify-content: space-between;
}

.infopersonal {
    width: 872px;
    height: 171px;
    border-radius: 10px;
    border: 1px solid #00000033;
}

.prsonal {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px 0 15px;
}

.infoname {
    display: flex;
    padding: 10px 15px 0 0;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 50px;
}

.infoname div h4 {
    font-weight: 400;
}

.infoname div p {
    margin-right: 35px;
}

.infoname div {
    display: flex;
    width: 400px;
}

.infobank {
    width: 872px;
    height: 171px;
    border-radius: 10px;
    border: 1px solid #00000033;
}

@media (max-width : 390px) {

    .main {
        align-items: center;
        width: 390px;
    }

    .infoaccount {
        width: 360px;
        height: auto;
        border: 1px solid #00000033;
        padding: 10px 0;
    }

    .infoaccount h3 {
        margin-right: 15px;
    }

    .account div {
        justify-content: space-between;
        gap: 5px;
    }

    .account {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

@media (min-width : 391px) and (max-width:480px) {

    .main {
        align-items: center;
        width: 390px;
    }

    .infoaccount {
        width: 360px;
        height: auto;
        border: 1px solid #00000033;
        padding: 10px 0;
    }

    .infoaccount h3 {
        margin-right: 15px;
    }

    .account div {
        justify-content: space-between;
        gap: 5px;
    }

    .account {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}