.select_option {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.select_option li {
    display: flex;
    height: 45px;
    align-items: center;
    gap: 8px;
    padding: 0 10px;
}

.select_option li:hover {
    background-color: #ddd;
}

.select_option li:first-child {
    height: auto;
    padding: 5px;
    background-color: #F8F8F8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
}

.select_option li:last-child {
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}