.container {
    width: 1188px;
    margin: auto;
}

.main {
    display: flex;
    justify-content: space-between;
}

.services {
    display: flex;
    align-items: center;
}

.services img {
    width: 121.42px;
    height: 109.03px;
}

.services h2 {
    font-weight: 400;
    color: #282828;
}

.services p {
    width: 190px;
}


@media (max-width : 390px) {
    .main {
        flex-direction: column;
        margin: 0;
        padding: 30px 0;
        gap: 40px;
    }

    .services img {
        width: 71px;
        height: 64px;
    }

    .services h2 {
        font-size: 20px;
    }

    .services p {
        font-size: 10px;
    }
}


@media (min-width : 391px) and (max-width:480px) {
    .main {
        flex-direction: column;
        margin: 0;
        padding: 30px 0;
        gap: 40px;
    }

    .services img {
        width: 71px;
        height: 64px;
    }

    .services h2 {
        font-size: 20px;
    }

    .services p {
        font-size: 10px;
    }
}