.container_fluid {
    width: 874px;
    margin: auto auto 55px auto;
}

.search {
    display: flex;
    align-items: center;
    width: 874px;
    height: 71px;
    border: 1px solid #00000026;
    border-radius: 20px;
    justify-content: space-between;
    padding: 15px 18px 15px 10px;
}

.text_top_search {
    text-align: center;
    margin: 15px 15px;
}

.text_top_search h2 {
    font-weight: 400;
    color: #595959;
}

.text_top_search span {
    color: #28A745;
    font-weight: 400;
}

.origin {
    display: flex;
    gap: 8px;
    position: relative;
    align-items: center;
    height: 60px;
    width: 25%;
    cursor: pointer;
    border-left: 2px solid #00000026;
}

.destination {
    display: flex;
    gap: 8px;
    position: relative;
    align-items: center;
    height: 60px;
    width: 25%;
    cursor: pointer;
    padding-right: 5px;
    border-left: 2px solid #00000026;
}

.select_date {
    display: flex;
    gap: 8px;
    position: relative;
    cursor: pointer;
    width: 25%;
    padding-right: 5px;
}

.selected {
    color: #28A745;
    font-weight: 400;
}

.search img {
    width: 20px;
    height: 20px;
}

.search .button {
    width: 190px;
    height: 51px;
    border-radius: 16px;
    color: #fff;
    background-color: #28A745;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.search .button:hover {
    color: #28A745;
    background-color: #fff;
    border: 2px solid #28A745;
}

.select_origin {
    position: absolute;
    display: none;
    top: 60px;
    right: -10px;
    border-radius: 10px;
    width: 220px;
    height: auto;
    background-color: #fff;
    border: 1px solid #0000001F;
    z-index: 999;
}

.select_destination {
    position: absolute;
    display: none;
    top: 60px;
    right: -10px;
    border-radius: 10px;
    width: 220px;
    height: auto;
    background-color: #fff;
    border: 1px solid #0000001F;
    z-index: 999;
}


@media (max-width : 390px) {
    .container_fluid {
        width: 390px;
    }

    .text_top_search {
        width: 390px;
        font-size: .8rem;
        margin: 15px 0px;
    }

    .search {
        border: none;
        width: 390px;
        height: 180px;
        flex-wrap: wrap;
        padding: 0 30px;
        gap: 10px;
    }

    .destination {
        padding: 0 30px;
        width: 160px;
        border: 2px solid #00000026;
        border-radius: 10px;
        height: 47px;
    }

    .origin {
        width: 160px;
        padding: 0 30px;
        border: 2px solid #00000026;
        border-radius: 10px;
        height: 47px;
    }

    .select_date {
        border: 2px solid #00000026;
        padding: 5px 30px;
        border-radius: 10px;
        width: 480px;
        height: 47px;
    }

    .search .button {
        width: 325px;
        height: 47px;
    }

    .select_origin {
        width: 160px;
        top : 50px;
        right: 0px;
    }

    .select_destination {
        top: 50px;
        right: 0;
        width: 160px;
    }
}