.container {
    width: 1188px;
    margin: auto;
}

.container>.why {
    display: none;
}

.why_tour {
    display: flex;
    flex-wrap: wrap;
    width: 1182px;
    height: 645px;
    padding: 100px 40px;
}


.why {
    display: flex;
    align-items: center;
}

.why div:first-child {
    display: flex;
    background: linear-gradient(180deg, #28A745 0%, #10411B 100%);
    width: 59px;
    height: 59px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.why h1 {
    font-weight: 600;
    color: #ffff;
}

.why h2 {
    margin-right: 12px;
}


.why span {
    color: #28A745;
}

.info_why {
    width: 35%;
}

.info_text {
    padding: 22px 0;
    line-height: 45px;
    text-align: justify;
}

.info_text h3 {
    font-weight: 400;
    color: #282828
}

.info_text p:first-child {
    font-weight: bold;
}

.slide_image {
    display: flex;
    width: 60%;
    position: relative;
}

.slide_image img {
    position: absolute;
    left: 0;
    top: 0;
}

.slide_image img:nth-child(1) {
    z-index: 10;
    left: 180px;
    width: 389px;
    height: 479px;
}

.slide_image img:nth-child(2) {
    z-index: 9;
    left: 130px;
    top: 30px;
    width: 386px;
    height: 416px;
}

.slide_image img:nth-child(3) {
    z-index: 8;
    left: 90px;
    top: 80px;
    width: 256px;
    height: 333px;
}

.slide_image img:nth-child(4) {
    z-index: 7;
    left: 45px;
    top: 110px;
    width: 216px;
    height: 273px;
}

.next_prev {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 115px;
    margin-right: 250px;
}

.next_prev img {
    width: 36px;
    height: 36px;
}

.next_prev p {
    margin: 0 25px;
}

.hr {
    border: 1px solid #00000033;
}


@media (max-width : 390px) { 
    .container {
        width: 390px;
        height: 500px;
        margin: auto;
        position: relative;
    }
    
    .container>.why {
        display: block;
        display: flex;
    }
    
    .why {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .why_tour {
        width: 390px;
        height: 645px;
        margin-bottom: 0;
    }


    .slide_image {
        width: 390px;
    }

    .slide_image img:nth-child(1) {
        left: 80px;
        width: 255px;
        height: 284px;
    }

    .slide_image img:nth-child(2) {
        left: 50px;
        top: 20px;
        width: 253px;
        height: 247px;
    }

    .slide_image img:nth-child(3) {
        left: 20px;
        top: 50px;
        width: 168px;
        height: 198px;
    }

    .slide_image img:nth-child(4) {
        left: 0px;
        top: 70px;
        width: 142px;
        height: 162px;
    }

    .next_prev {
        width: 390px;
        margin: 0 0 0 110px;
    }

    .info_text {
        display: none;
    }

    .info_why {
        display: none;
    }
}

@media (min-width : 391px) and (max-width:480px) {   
    .container {
        width: 390px;
        height: 500px;
        margin: auto;
        position: relative;
    }
    
    .container>.why {
        display: block;
        display: flex;
    }
    
    .why {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .why_tour {
        width: 390px;
        height: 645px;
        margin-bottom: 0;
    }


    .slide_image {
        width: 390px;
    }

    .slide_image img:nth-child(1) {
        left: 80px;
        width: 255px;
        height: 284px;
    }

    .slide_image img:nth-child(2) {
        left: 50px;
        top: 20px;
        width: 253px;
        height: 247px;
    }

    .slide_image img:nth-child(3) {
        left: 20px;
        top: 50px;
        width: 168px;
        height: 198px;
    }

    .slide_image img:nth-child(4) {
        left: 0px;
        top: 70px;
        width: 142px;
        height: 162px;
    }

    .next_prev {
        width: 390px;
        margin: 0 0 0 110px;
    }

    .info_text {
        display: none;
    }

    .info_why {
        display: none;
    }
}